*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	color:#3b1a51;
	background-color:#ffffff;
	font-family:"helvetica neue";
	font-size: 1.4em;
}

/* Hyperlink Styles: */

a, a:visited {
	color:#3b1a51;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"helvetica neue";
}

h1{
	/* The logo text */
	font-size:4em;
	padding:0.5em 0 0;

}

h3{
	/* The slogan text */
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}


h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform: lowercase;
	margin-bottom: 50px;
}

h4 {
	font-size: 1.2em;
	margin: 10px;
}

p{
	line-height:1.6em;
	padding-bottom:1em;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#333;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	font-family:"helvetica neue";
	padding:0 5px;
	top:4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	text-transform: lowercase;

}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Site Header */

header {
	text-align: center;
}


/* The navigation styling: */

nav ul li{
	display:inline-block;
}

nav ul li a,
nav ul li a:visited{
	color: #3b1a51;
	display:block;
	float:left;
	font-size:1.2em;
	margin:10px 20px;
	padding:7px 0px 3px;
}

nav ul li a:hover{
	text-decoration:none;
	color: #e11a57;
}

/*
nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
 */

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

#product {
	background: #eaccd5;
}

#sugar {
	background: #eaccd5;
}

#press {
	background: #eaccd5;
}

#stockists {
	/*display: inline-block;
	margin: 0 20px 0 0;*/
}

/*#contact {
	background: #eaccd5;
}*/

article{
	padding: 60px 15%;
	text-align: center;
}

@media screen and (max-width: 644px) {
	article {
		padding: 60px 10%;
	}
}

@media screen and (max-width: 480px) {
	article {
		padding: 60px 5%;
	}
}

article a {
	margin-right: 5px;
	margin-left: 5px;
}

figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

figure img{
	margin-left:-60px;
}

/* Images */



.product-box {
	display:inline-block;
	width:80%;
	height:auto;
	vertical-align: middle;
	margin: 0 40px 0 0;
}

/* Product */

.product-img {
	display: block;
	width:80%;
	height:auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: url(images/product.jpg) no-repeat;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

.story-img {
	display: block;
	width:100%;
	height:auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: url(images/product banner.jpg) no-repeat;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

.inline-img-right {
	display: inline;
	float: right;
	width: 300px;
	height: auto;
	margin-left: 40px;
	margin-bottom: 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.between-img {
	display: block;
	width:100%;
	height:auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: url(images/product banner.jpg) no-repeat;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

#pearrosemary {
	float: left;
	width: 30%;
}

#applethyme {
	float: right;
	width: 30%;
}

#berrymint {
	margin: 0 auto 0;
	width: 30%;
	display:inline-block;
}

/* Sugar */

.sugar-img {
	display: block;
	width:100%;
	height:auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: url(images/sugar display.jpg) no-repeat;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

/* About */

#about p {
	text-align: justify;
	margin: 15px 0px;
}

/* Contact */

.social-bar {
	margin-top: 40px;
}

.social-bar a {
	padding: 0px 5px;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
	background: #3b1a51;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 6px;
	overflow: auto;
}


footer a,footer a:visited{
	color:#ffffff;
	padding:2px 4px;
	z-index:100;
}

footer a:hover{
	text-decoration:none;
}

.align-left {
	float: left;
	padding-left: 40px;
}

.align-right {
	float: right;
	padding-right: 40px;
}

@media screen and (max-width: 480px) {
	.align-left, .align-right {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		padding: 0
	}

	footer a.up {
		float: none;
	}

	footer a.up {
		float: none;
	}
}
